ul{
    padding: 15px;
  /*  background: #f6f6f6;*/
}
.accordion ul{
    display: none;
}
.accordion .active{
    background: aqua;
}
ul li{
    background: pink;
    list-style: none;
    padding: 5px;
}